<header>
  <div class='navbarcontainer'>
    <img src="https://d0dd7a01-034e-4c8d-98ca-ae203cbc23fe-00-2dbmygcgspys8.picard.replit.dev/static/it's-just-maths-logo.png" height='80' alt='logo' class='logo'>

    <nav>
      <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>About Us</a></li>
        <li><a href='#'>Lessons</a></li>
        <li><a href='#'>Login/Signup</a></li>
        <li><a href='#'>Parents/Teachers</a></li>
        <li>
           <div class='dropdown'>
             <button>More</button>
           </div>
      </ul>
    </nav>  

  </div>
</header>